.SearchBox{
	width: 38%;
	margin-top: 10rem;
	padding: 3rem;
	padding-left: 2rem;
	display: inline-block;
}

#error{
	color: #e74c3c;
	font-size: 1.4rem;
	width: 90%;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1.5rem;
	letter-spacing: 2px;
	display: none;
}

.app-description{
	font-size: 2rem;
	line-height: 170%;
	letter-spacing: 1px;
	margin-bottom: 5rem;
}
.searchinputcontainer{
	position: relative;
}
#searchinput{
	display: block;
	padding: 1rem 2rem;
	width: 80%;
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
	outline: none;
	border: none;
	border-bottom: 3px solid #1A65C6;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

.imagelabel{
	position: absolute;
	top: 1.1rem;
	left: 2rem;
	display: block;
	font-size: 1.5rem;
	color: #999;
	font-weight: lighter;
	pointer-events: none;
	letter-spacing: 1px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
#searchinput:focus ~ label{
	top: -2.5rem;
	font-weight: bold;
	font-size: 1.3rem;
	left: .5rem;
	color: rgba(84, 189, 129,1);
}

.searchbutton{
	margin-top: 3rem;
	background-color:rgba(72, 126, 176, .7);
	font-family: 'Russo One', sans-serif;
	border: none;
	text-transform: uppercase;
	/*box-shadow: .2rem .2rem 1rem rgba(84, 189, 129, .8);*/
	color: #eee;
	letter-spacing: 2px;
	padding: 1rem 2rem;
	cursor: pointer;
	/*border-radius: 2rem;*/
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.searchbutton:hover, .searchbutton:focus, .searchbutton:active{
	transform: scale(1.1);
	filter: contrast(1.2);
}
@media screen and (max-width: 1000px){
	.SearchBox{
		width: 50%;
		margin-top: 3rem;
	}
}
@media screen and (max-width: 750px){
	.SearchBox{
		text-align: center;
		width: 100%;
		margin-top: 3rem;
	}
	.searchboxcontent{
		width: 60%;
		margin: 0 auto;
	}
	#searchinput{
		margin: 0 auto;
	}
}
@media screen and (max-width: 600px){
	#error{
		margin: 0 auto 1.5rem auto;
	}
	.searchboxcontent{
		width: 100%;
	}
	.app-description{
		font-size: 1.8rem;
	}
}