#ImageBox{
	width: 55%;
	position: relative;
}
@media screen and (max-width: 1000px){
	#ImageBox{
		width: 100%;
	}
}
#image{
	width: 100%;
	height: 25rem;
	box-shadow: .2rem .2rem 1rem rgba(0,0,0,.3);
	border-radius: 1rem;
}
.boundary-box{
	position: absolute;
	border: 3px solid steelblue;
}