#ImageBox{
	width: 55%;
	position: relative;
}

@media screen and (max-width: 1000px){
	#ImageBox{
		width: 100%;
		clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
	}
}
#image{
	width: 100%;
	height: 35rem;
	box-shadow: .2rem .2rem 1rem rgba(0,0,0,.3);
	border-radius: 1rem;
}
@media screen and (max-width: 600px){
	#image{
		height: 27rem;
	}
}
.boundary-box{
	position: absolute;
	border: 3px solid steelblue;
}