.title{
	padding-left: 3rem;
	padding-top: 5rem;
	font-size: 3.5rem; 
	letter-spacing: 3px;
}
.subtitle{
	color: #487eb0;
}
@media screen and (max-width: 1000px){
	.title{
		padding-top: 3rem;
	}
}
@media screen and (max-width: 750px){
	.title{
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
		padding-top: 3rem;
	}
}